In [2]:
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np
from sklearn import metrics

In [23]:
df = pd.read_csv('winequality-red.csv')
# data = datasets.load_wine()
# x = data.data
# y = data.target


x=df[['fixed acidity' , 'pH','alcohol']]
y= df['quality']

In [24]:
x

     fixed acidity    pH  alcohol
0              7.4  3.51      9.4
1              7.8  3.20      9.8
2              7.8  3.26      9.8
3             11.2  3.16      9.8
4              7.4  3.51      9.4
..             ...   ...      ...
463            8.1  3.08      9.0
464           11.5  2.98      9.2
465           10.0  3.48      9.7
466           10.3  3.16     11.5
467            8.8  3.32     14.0

[468 rows x 3 columns]

In [25]:
y

0      5
1      5
2      5
3      6
4      5
      ..
463    5
464    6
465    5
466    6
467    6
Name: quality, Length: 468, dtype: int64

In [26]:
y = pd.get_dummies(y)

In [27]:
y

     3  4  5  6  7  8
0    0  0  1  0  0  0
1    0  0  1  0  0  0
2    0  0  1  0  0  0
3    0  0  0  1  0  0
4    0  0  1  0  0  0
..  .. .. .. .. .. ..
463  0  0  1  0  0  0
464  0  0  0  1  0  0
465  0  0  1  0  0  0
466  0  0  0  1  0  0
467  0  0  0  1  0  0

[468 rows x 6 columns]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [29]:
dt = DecisionTreeClassifier()

In [30]:
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

features = data.feature_names
classes = data.target_names

plt.figure(figsize=(100, 50))
plot_tree(dt,
          feature_names=features,
          class_names=classes,
          filled=True, 
          #proportion=True,
         fontsize = 15);

In [34]:
y_pred = dt.predict(X_test)

In [35]:
from sklearn import metrics
print('Precision : ', metrics.precision_score(y_test, y_pred, average = 'micro'))
print('Accuracy : ', metrics.accuracy_score(y_test, y_pred))
print('Recall : ', metrics.recall_score(y_test, y_pred, average="micro"))

Precision :  0.5431034482758621
Accuracy :  0.5384615384615384
Recall :  0.5384615384615384